<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144353364-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-144353364-2');
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap');

.jmpsec {
    height: 5em;
    width: auto;
    margin: auto;
    bottom: 3em;
    left: 0;
    right: 0;
    border: 2px solid black;
    border-bottom: 4px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    transition: all 200ms ease-out;
    background-color: #ffffff;
}

.jmpsec:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  transform: scale(1.5);
}
</style>
