<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144353364-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-144353364-2');
</script>

<style type="css">

@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/bai-jamjuree-v3-latin/bai-jamjuree-v3-latin-regular.eot');
  src: local('Bai Jamjuree Regular'), local('BaiJamjuree-Regular'), url('/fonts/bai-jamjuree-v3-latin/bai-jamjuree-v3-latin/bai-jamjuree-v3-latin-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/bai-jamjuree-v3-latin/bai-jamjuree-v3-latin-regular.woff2') format('woff2'), url('/fonts/bai-jamjuree-v3-latin/bai-jamjuree-v3-latin-regular.woff') format('woff'), url('/fonts/bai-jamjuree-v3-latin/bai-jamjuree-v3-latin/bai-jamjuree-v3-latin-regular.ttf') format('truetype'), url('/fonts/bai-jamjuree-v3-latin/bai-jamjuree-v3-latin-regular.svg#BaiJamjuree') format('svg');
}

</style>
